
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="Language" content="en"/>
<title>Read Me</title>
<link href="{{app.baseUrl}}Css/readme.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="preview">

{{content|raw}}

</div>
</body>
</html>