/* style
** author: Emad Foroughi
** company: B&F Services Ltd.
*/

.voffset  { margin-top: 2px; }
.voffset0  { margin-top: 0px !important; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.voffsetb  { margin-bottom: 2px; }
.voffsetb0 { margin-bottom: 0px !important;}
.voffsetb1 { margin-bottom: 5px; }
.voffsetb2 { margin-bottom: 10px; }
.voffsetb3 { margin-bottom: 15px; }
.voffsetb4 { margin-bottom: 30px; }
.voffsetb5 { margin-bottom: 40px; }
.voffsetb6 { margin-bottom: 60px; }
.voffsetb7 { margin-bottom: 80px; }
.voffsetb8 { margin-bottom: 100px; }
.voffsetb9 { margin-bottom: 150px; }

.poffset  { padding-top: 2px; }
.poffset0  { padding-top: 0px !important; }
.poffset1 { padding-top: 5px; }
.poffset2 { padding-top: 10px; }
.poffset3 { padding-top: 15px; }
.poffset4 { padding-top: 30px; }
.poffset5 { padding-top: 40px; }
.poffset6 { padding-top: 60px; }
.poffset7 { padding-top: 80px; }
.poffset8 { padding-top: 100px; }
.poffset9 { padding-top: 150px; }

.poffsetb  { padding-bottom: 2px; }
.poffsetb0  { padding-bottom: 0px !important; }
.poffsetb1 { padding-bottom: 5px; }
.poffsetb2 { padding-bottom: 10px; }
.poffsetb3 { padding-bottom: 15px; }
.poffsetb4 { padding-bottom: 30px; }
.poffsetb5 { padding-bottom: 40px; }
.poffsetb6 { padding-bottom: 60px; }
.poffsetb7 { padding-bottom: 80px; }
.poffsetb8 { padding-bottom: 100px; }
.poffsetb9 { padding-bottom: 150px; }

body{
    background-color: #F5F5F5;
}
p, h1, h2, h3, h4, h5, h6, input, select, textarea, button, a, div, span, button {
    font-family: "lato", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pl0 {
    padding-left: 0 !important;
}
.pr0 {
    padding-right: 0 !important;
}
.pd0 {
    padding: 0 !important;
}
.hide-element {
    display: none;
}
.bg-white {
    background: #ffffff;
}
/**----------------------
	navbar
-----------------------**/
.navbar {
    border-radius: 0px;
    background-color: #37474F;
}
.navbar-brand img {
    width: 120px;
    margin-top: -14px;
}
.navbar-nav > .dropdown-user img {
    max-height: 40px;
    margin-top: -2.5px;
    border-radius: 50%;
    margin-right: 5px;
}
.navbar-nav > .dropdown-user > a, .navbar-nav > .dropdown-user > a > span {
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}
.dropdown-menu-right {
    min-width: 180px;
}
.badge-warning {
    background-color: #FF5722;
    border-color: #FF5722;
}
.dropdown-menu li a {
    padding: 8px 15px;
}
.dropdown-menu li a i {
    padding-right: 5px;
}
/**----------------------
	footer-area
-----------------------**/
.footer-area {
    background-color: #e8e8e8;
    display: flex;
    border-top: 1px solid #d2d2d2;
    padding: 15px;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
.footer-nav {
    list-style: none;
    display: inline;
    float: right;
    line-height: 30px;
    margin: 0;
}
.footer-nav li {
    float: left;
    padding-right: 25px;
}
.footer-nav li a {
    color: #7d7d7d;
    text-decoration: none;
}
.footer-nav li:hover > a {
    color: #37474F;
}
.footer-area .copyright {
    line-height: 30px;
}

/**----------------------
    subscribe-area
-----------------------**/
.subscription-title {
	text-align: center;
}
.subscription-title > span {
	font-weight: normal;
    font-size: 20px;
}
/**----------------------
	checkout-wrapper
-----------------------**/
.checkout-wrapper{
	padding-top: 40px;
	padding-bottom:40px;
}
.checkout{    
    border:0px solid #eaefe9;
    font-size: 14px;
}
.checkout .panel{
	margin-bottom: 0px;
	margin-top: 8px;
	background-color: transparent !important;
	box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.panel-header {
	text-align: left;
	background-color: #e8e8e8;
	padding: 10px;
    border-bottom: 1px solid #d3d3d3;
}
.panel-header-row {
    margin: 0;
}
.checkout-step {
    border-top: 1px solid #f2f2f2;
    color: #666;
    font-size: 14px;
    padding: 0px;
    position: relative;
}

.checkout-step-number {
    border-radius: 50%;
    border: 1px solid #666;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    margin-right: 26px;
    padding: 6px;
    text-align: center;
    width: 32px;
	line-height: 18px;
}
.checkout-step-title{ 
	font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
	display: inline-block;
	margin: 0px;
}
.checkout-step-title a {
	color: #444;
    text-decoration: none;
    line-height: 33px;
}
.checkout-step-title a.collapsed {
	color: #b7b7b7;
}
.checkout-step-body{
	padding: 20px;
}
.checkout-step-active{display: block;}
.checkout-step-disabled{display: none;}

.checkout-step-body label {
    text-align: left;
}
.btnChangePanle {
    color: #000;
    line-height: 35px;
    text-decoration: none;
}
.btnChangePanle:hover {
    color: #449c44;
}
#headerPanelFeatureAvailable {
    font-size: 20px;
    color: #00A55C;
}
/**----------------------
	price-table
-----------------------**/
.price-table {
    margin-top: 20px;
}
.pricing {
    background: #fff;
    /*padding: 20px;*/
    border-radius: 5px;
    color:#000;
	margin-bottom:10px;
    padding-bottom: 20px;
}
.pricing-top {
    width: 100%;
    height: 140px;
    /*border-radius: 25%;*/
    /*border: 5px solid #e4e4e4;*/
    margin: 0 auto;
    padding: 5px;
    background: #c9c9c9;
}
.pricing-top p{
    margin-top: 20px;
}
.pricing-top sup{
    font-size: 20px;
    top: -3px;
    left: -5px;
}
.pricing-top em{
    font-size: 25px;
}
.pricing-top span{
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 20px;
}
.pricing ul{
    padding: 5px;
}
.pricing ul li{
    max-width: 140px;
    list-style: none;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 15px;
}

 .btn-pricing {
    background: #37474F;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    margin-top: 10px;
    font-weight: bold;
    padding: 5px 20px;
    transform: .5s;
}
.btn-pricing:hover {
    color: #00b25e;
}
.pricing:hover {
    background: #c9c9c9;
    color: #000;
    transition-duration:.5s;
}
.pricing:hover .pricing-top{
    background: #fff;
    color: #000;
    transition-duration: .5s;
}
.pricing:hover .btn-pricing{
    background: #fff;
    color: #37474F;
    transition-duration: .5s;
}
.pricing:hover > ul > li > button {
    color: #ffffff;
    background: #37474F;
}
.price-table .price sup,
.price-table .price em{
	color: #069709
}
.pricing button.load-more {
	cursor: pointer !important;
}
.payPeriodChange-area label {
    line-height: 35px;
}
.payPeriodChange-area span.btn-payChange {
    font-size: 12px;
}
.price-table .price s sup, .price-table .price s em {
    color: red;
    font-size: 15px;
}

/**----------------------
	addon box
-----------------------**/
.addon-box {
	background: #C9C9C9;
    margin-bottom: 10px;
}
.addon-header {
    padding: 15px 0;
}
.addon-body {
	background: #fff;
	text-align: left;
	padding: 20px;
	line-height: 30px;
	border-left: 4px solid #949494;
}
.add-ons2-body {
    background: #fff;
    text-align: left;
    padding: 5px;
    line-height: 30px;
    border-top: 4px solid #949494;
    font-size: 13px;
}
.add-ons2-body div {
    padding-right: 0;
}
.add-ons2-header {
    font-size: 18px;
    color: #000;
}
/**----------------------
	ribbon
-----------------------**/
.ribbon-top-left {
    top: -10px;
    left: 6px;
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon-top-left::before {
    top: 0;
    right: 0;
}

.ribbon-top-left::before {
    top: 0px;
    right: 56px;
}

.ribbon-top-left::before, .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon::before, .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #069709;
}

.ribbon-top-left span {
    right: 38px;
    top: 23px;
    transform: rotate(-45deg);
}

.ribbon span {
    position: absolute;
    display: block;
    width: 150px;
    padding: 7px 0;
    background-color: #069709;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}

.ribbon-top-left::after {
    bottom: 56px;
    left: -1px;
}
/**----------------------
	one-package
-----------------------**/
.one-package {
    background-color: #ffffff;
    line-height: 30px;
    display: flex;
}
.one-package-header {
    padding: 15px 0;
}
.one-package-body {
    background: #fff;
    text-align: left;
    padding: 20px;
    line-height: 30px;
}
.package-price {
    color: #069709;
}
.package-price span {
    font-size: 30px;
    font-weight: bold;
}
.price-details {
    font-size: 12px;
    font-weight: 300;
    color: #a0a0a0;
}

/**----------------------
	subscription form
-----------------------**/
.duration-details {
    font-size: 13px !important;
    margin-left: 20px;
    color: #00a200;
}
.ADD-ONS-Label {
    text-align: right;
    margin-bottom: 20px;
    color: #9c9c9c;
}
.total-price {
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
    margin: 0 0 20px 0;
}
.amount-left {
    padding: 10px;
    color: #ffffff;
    background: #37474F;
}
.amount-right {
    padding: 10px;
    color: #ffffff;
    background: #333333;
}
.orderSummaryTitle {
    text-align: left;
    color: #000;
}
.orderSummaryTable thead {
    background: #e2e2e2;
}
.orderSummaryTable tbody {
    color: #000000;
}
.pay {
    font-weight: bold;
    color: #002184;
}
.pal {
    font-weight: bold;
    color: #059CE1;
}
.btn-paymentMethod {
    font-size: 16px;
}
.useBillingAddressCheckbox {
    color: #000000;
    text-align: left;
}
.aboutSubscription {
    background: #F5F5F5;
    text-align: left;
}
.aboutSubscription h4 {
    color: #000;
}
.payPal {
    text-align: left;
}

.special .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.special .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.special .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.special .container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.special .container input:checked ~ .checkmark {
  background-color: #069709;
}

/* Create the checkmark/indicator (hidden when not checked) */
.special .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.special .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.special .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.paypal-process{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #fff;
}

.paypal-process img {
  width: 80%;
  display: block;
  margin: 20px auto;
}

.paypal-process h1 {
  padding: 20px;
  display: block;
  margin: 10px auto;
  font-size: 24px;
  text-align: center;
}

.paypal-process #content {
  background-color: #aaa;
  width: 80%;
  min-height: 300px;
  margin: 20px auto;
  border-radius: 10px;
  padding-top: 45px;
}

.paypal-process #loader {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  display: block;
  position: relative;
  border-width: 0;
  border-style: solid;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiMwMDljZGUiLz48c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: linear-gradient(45deg, #009cde 33%, #dddddd 33%, #dddddd 100%);
  border-radius: 50%;
}
.paypal-process #loader #loader-inner {
  background: #aaa;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

